* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "WorkSans";
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "DidactGothic";
    src: url(../fonts/Didact_Gothic/DidactGothic-Regular.ttf);
}

@font-face {
    font-family: "FjallaOne";
    src: url(../fonts/Fjalla_One/FjallaOne-Regular.ttf);
}

:root {
    --first-font: "FjallaOne";
    --second-font: "DidactGothic";
    --third-font: "WorkSans";
}


/* ---------header-------- */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .titel {
    color: #000;
    font-family: var(--third-font);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1%;
}

header h1 {
    color: #000;
    text-align: center;
    font-family: var(--second-font);
    font-size: 6.25rem;
    font-weight: 400;
    line-height: 130%;
    /* 130px */
    letter-spacing: -2px;
    text-transform: uppercase;
    padding: 4% 30%;
}

header img {
    width: 40vw;
    align-self: center;
}

header h2 {
    color: #000;
    font-family: var(--third-font);
    font-size: 10rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 7% 0;
}

/* main */

/* 1 section  */
#Orbis,
#Rollr,
#Galitos,
#Tretto {
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}


main .text {
    margin: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

main .nummer {
    align-self: flex-end;
    color: #9E9E9E;
    text-align: right;
    font-family: var(--first-font);
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: -3.3px;
    /* umrechnen */
    text-transform: uppercase;
    margin: 10vh;
}






main .year {
    color: #666;
    font-family: var(--third-font);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 23px;
    /* line-height wir mussen in % rechnen */
    letter-spacing: -0.05em;
    text-align: left;

    /* wir mussen noch ein line before hinzufügen */
}

main .h1_black {
    color: #000;
    font-family: var(--second-font);
    font-size: 7rem;
    font-weight: 400;
    line-height: 147px;
    /* line-height wir mussen in % rechnen */
    letter-spacing: 0em;
    text-align: left;

}

main .h1_white {
    color: white;
    font-family: var(--second-font);
    font-size: 7rem;
    font-weight: 400;
    line-height: 147px;
    /* line-height wir mussen in % rechnen */
    letter-spacing: 0em;
    text-align: left;

}

main .webisten-typ {
    color: #666;
    font-family: var(--third-font);
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -1px;
}


main .button_white a {
    color: #000;
    font-family: var(--first-font);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}


main .button_black a {
    color: white;
    font-family: var(--first-font);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

footer #want_more {
    background-color: black;
}


footer #want_more h1 {
    color: #FFF;
    text-align: center;
    font-family: var(--third-font);
    font-size: 11.25rem;
    font-weight: 400;
    letter-spacing: -18px;
}

footer #want_more #want_more-text {
    color: #666;
    font-family: var(--third-font);
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 180%;
    /* 39.6px */
    letter-spacing: 0.22px;
    /*umrechnen*/
}

footer #want_more #email a {
    color: #FFF;
    font-family: var(--third-font);
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: -3.6px;
    /*umrechnen*/
}


footer #contact ul {
    list-style: none;
}

footer #contact ul li a {
    color: #FFF;
    font-family: var(--third-font);
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: -3.6px;
    /*umrechnen*/
    text-decoration: none;
}