*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "WorkSans";
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "DidactGothic";
    src: url(../fonts/Didact_Gothic/DidactGothic-Regular.ttf);
}

@font-face {
    font-family: "FjallaOne";
    src: url(../fonts/Fjalla_One/FjallaOne-Regular.ttf);
}

:root{
    --first-font: "FjallaOne";
    --second-font: "DidactGothic";
    --third-font: "WorkSans";
}


/* ---------header-------- */



header .titel{
    color: #000;
    font-family: var(--third-font);
    font-size: 1.25rem;
    font-weight: 400;
}