* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "WorkSans";
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "DidactGothic";
    src: url("../fonts/Didact_Gothic/DidactGothic-Regular.ttf");
}

@font-face {
    font-family: "FjallaOne";
    src: url(../fonts/Fjalla_One/FjallaOne-Regular.ttf);
}

:root {
    --first-font: "FjallaOne";
    --second-font: "DidactGothic";
    --third-font: "WorkSans";
}


/* ---------header-------- */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .titel {
    color: #000;
    font-family: var(--third-font);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1%;
}

header h1 {
    color: #000;
    text-align: center;
    font-family: var(--second-font);
    font-size: 6.25rem;
    font-weight: 400;
    line-height: 130%;
    /* 130px */
    letter-spacing: -2px;
    text-transform: uppercase;
    padding: 4% 30%;
}

header img {
    width: 40vw;
    align-self: center;
}

header h2 {
    color: #000;
    font-family: var(--third-font);
    font-size: 10rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 7% 0;
}

/* main */

/* 1 section  */
#Orbis,
#Rollr,
#Galitos,
#Tretto {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}




main .text {
    margin: 15vh 20vw;
    display: flex;
    flex-direction: column;
    gap: 6%;

}


main .nummer {
    align-self: flex-end;
    color: #9e9e9ebb;
    text-align: right;
    font-family: var(--first-font);
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: -3.3px;

    text-transform: uppercase;
    align-self: flex-end;
    margin: -8vh;
    margin-left: 60vw;
}





main #Orbis {
    background-image: url(../img/portfolio2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main #Rollr {
    background-image: url(../img/portfolio3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main #Galitos {
    background-image: url(../img/portfolio4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main #Tretto {
    background-image: url(../img/portfolio5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main .year {
    color: #666;
    font-family: var(--third-font);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 23px;
    /* line-height wir mussen in % rechnen */
    letter-spacing: -0.05em;
    text-align: left;
}

main .year::before {
    content: "---";
    /*linie verbessern mit icon*/
    text-decoration: line-through;
}

main .h1-black {
    color: #000;
    font-family: var(--second-font);
    font-size: 7rem;
    font-weight: 400;
    line-height: 147px;
    /* line-height wir mussen in % rechnen */
    letter-spacing: 0em;
    text-align: left;

}

main .h1-white {
    color: white;
    font-family: var(--second-font);
    font-size: 7rem;
    font-weight: 400;
    line-height: 147px;
    /* line-height wir mussen in % rechnen */
    letter-spacing: 0em;
    text-align: left;

}

main .webisten-typ {
    color: #666;
    font-family: var(--third-font);
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -1px;
}


main .button_white {
    color: white;
    text-align: center;
    font-family: var(--first-font);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.464);
    background-color: #00000000;
    width: 5vw;
    padding: 2vh 0;
    margin-top: 10vh;
}

main .button_white:hover {
    background-color: white;
    color: #000;

}

main .button_black:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;

}

main .button_black:hover+.nummer {

    color: black;

}


main .button_white:hover+.nummer {

    color: #ffffff;

}


main .button_black {
    color: black;
    text-align: center;
    font-family: var(--first-font);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid black;
    background-color: #00000000;
    width: 5vw;
    padding: 2vh 0;
    margin-top: 10vh;
}

/* footer start */

footer #want_more {
    background-color: black;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}




footer #want_more h1 {
    color: #FFF;
    text-align: center;
    font-family: var(--third-font);
    font-size: 11.25rem;
    font-weight: 400;
    letter-spacing: -18px;
}

footer #want_more #want_more-text {
    color: #666;
    font-family: var(--third-font);
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 180%;
    /* 39.6px */
    letter-spacing: 0.22px;
    /*umrechnen*/
    align-self: flex-end;
    width: 50vw;
    margin-right: 10vw;
}

footer #want_more #email {
    align-self: flex-end;
    width: 60vw;
}

footer #want_more #email a {
    color: #FFF;
    font-family: var(--third-font);
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: -3.6px;
    text-align: left;
    /*umrechnen*/
    text-decoration: none;
}




footer #contact ul {
    height: 150vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer #contact ul li a {
    color: #000000;
    font-family: var(--third-font);
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: -3.6px;
    /*umrechnen*/
    text-decoration: none;
    text-align: center;

}